/* base elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
    /*font-family: "lintel-5";*/
    /*src: url("../fonts/Lintel/LintelMedium.ttf");*/
    /*font-weight: normal;*/
}

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 500px;
  /*font-family: Lintel;*/
  font-family: 'PT Sans';
  background-color: white;
}
/* base template (header and footer)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.vertical-align-middle {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right: -4px;
}
header {
  text-align: center;
  min-height: 144px;
  padding-bottom: 32px;
  background-color: rgb(255, 255, 255);
  background-image:  url("../images/x_back_border.png"),url("../images/x_back.png");
  background-repeat: repeat-x, repeat;
  background-clip: border-box, border-box;
  background-position: 0% 100%,0% 0%;
  .container{
    padding-top: 20px;
  }
  .contacts{
    .element{
      display: inline-block;
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 0;
      span{
        color: white;
        padding-left: 30px;
        font-size: 18pt;
        font-family: 'PT Sans', sans-serif;
        position: relative;
      }
    }
    .phone{
      background-image: url("../images/marker_call.png");
    }
    .mail{
      background-image: url("../images/marker_mail.png");
    }
  }
  .logo{
    text-align: center;
    img{
      width: 100%;
      max-width: 267px;
    }
  }
  .buttons{
    border: 3px;
    border-color: white;
    border-top-style: none!important;
    border-bottom-style: none!important;
    text-align: center;;
    padding: 0 10px;
    .button{
      padding-left: 5px;
      padding-right: 5px;
    }
    img{
      -webkit-filter: brightness(10) contrast(10) grayscale(1);
      margin: 10px 2px;
    }
    a:hover{
      img{
        -webkit-filter: none;
      }
    }
  }
  .places{
    display: inline-block;
    background-image: url("../images/marker_bone.png");
    background-repeat: no-repeat;
    background-position: left center;
    a p{
      text-align: left;
      font-weight: bold;
      color: rgb(88,104,120);
      margin-bottom: 0;
      padding-left: 35px;
      font-size: 12pt;
      font-family: 'PT Sans', sans-serif;
      position: relative;
    }
  }
}

.menu{
  background: white;
  .container{
    .row{
      margin-bottom: 0;
      padding-left: 0;
    }
    li{
      text-align: center;
      list-style: none;
      a{
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 13pt;
        font-family: 'PT Sans', sans-serif;
        color: rgb(133, 209, 211);
      }

      a:hover{
        padding-top: 10px;
        padding-bottom: 0px;
        font-weight: bold;
        text-decoration: none;
        border-bottom: solid 5px rgb(242,217,15);
      }
    }

    .dropdown-menu{
      margin-top: 0px;
      border: none;
      border-radius:0;
      webkit-box-shadow: none;
      box-shadow: none;
      background-color: rgb(245,247,248);
      li a{
        background: none!important;
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 13pt;
        font-family: 'PT Sans', sans-serif;
        color: rgb(133, 209, 211);
      }
      li a:hover{
        font-weight: bold;
        text-decoration: none;
        border: none!important;
        margin-bottom: 0;
      }
    }
  }
}

footer{
float: left;
width: 100%;
background-color: rgb(137,210,213);
text-align: center;
  .row{
    text-align: left;
  }
  .up{
    padding: 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgb(88,104,120);
    img{
      padding: 5px 5px;
    }
    span{
      color: white;
    }
  }
  .buttons{
    padding-top: 5px;
    text-align: center;
    img{
      -webkit-filter: brightness(10) contrast(10) grayscale(1);
    }
    a:hover{
      img{
        -webkit-filter: none;
      }
    }
  }

  .menu{
    background: none;
    .container{
      border-bottom: 1px solid white;
      padding-bottom: 15px;
      margin-bottom: 15px;
      .row{
        padding-left: 0;
      }
      li{
        text-align: center;
        list-style: none;
        a{
          display: inline-block;
          padding-top: 10px;
          font-size: 13pt;
          font-family: 'PT Sans', sans-serif;
          color: white;
        }
        .active{
          padding-top: 10px;
          padding-bottom: 0px;
          font-weight: bold;
          text-decoration: none;
          border-bottom: solid 5px rgb(242,217,15);
        }
        a:hover{
          padding-bottom: 5px;
          font-weight: bold;
          text-decoration: none;
          border: none;
        }
      }
    }
  }
  .logo{
    text-align: center;
    img{
      width: 100%;
      max-width: 267px;
    }
  }
  .contacts{
    .element{
      display: inline-block;
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 0;
      span{
        color: white;
        padding-left: 30px;
        font-size: 18pt;
        font-family: 'PT Sans', sans-serif;
        position: relative;
      }
    }
    .phone{
      background-image: url("../images/marker_call.png");
    }
    .mail{
      background-image: url("../images/marker_mail.png");
    }
  }
  .places{
    display: inline-block;
    background-image: url("../images/marker_bone.png");
    background-repeat: no-repeat;
    background-position: left center;
    a p{
      text-align: left;
      font-weight: bold;
      color: rgb(88,104,120);
      margin-bottom: 0;
      padding-left: 35px;
      font-size: 12pt;
      font-family: 'PT Sans', sans-serif;
      position: relative;
    }
  }
  .copyright{
    height: 40px;
    position: relative;
    background-color: rgb(88,104,120);
    text-align:center;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    span{
      position: absolute;
      margin=left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      height: 20px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}


@media(max-width:767px){
  .vcenter{
    text-align: center;
  }
  .dropdown-menu{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}
@media(min-width:768px){}
@media(min-width:992px){
  header{
    .buttons{
      border-style: solid;
    }
  }
}
@media(min-width:1200px){}

/* index template
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.index{
  .banner{
    background-image: linear-gradient(180deg,#edeaef,#f2f2f2);
    .item{
      >img{
        margin-left: 10%;
      }
    }
    .carousel-caption{
      position: absolute;
      right: 15%;
      left: auto;
      border-radius: 1000px;
      padding: 0 0;
      width: 340px;
      height: 340px;
      border: solid 1px red;
      .inner{
        position: absolute;
        background-color: white;
        margin-left: 10px;
        margin-top: 10px;
        border-radius: 1000px;
        width: 320px;
        height: 320px;
        color: black;
        text-shadow: none;
        padding-top: 50px;
        img{
          padding-bottom: 50px;
        }
        h3{
          padding-bottom: 10px;
          margin: 0px 30px;
          margin-bottom: 20px;
          text-transform: uppercase;
          border-bottom: 1px solid black;
        }
        p{
          text-transform: lowercase;
        }
      }
    }
    .carousel-control{
      background-image: none;
      img{
        position: absolute;
        top: 50%;
      }
    }
  }
  .services{
    text-align: center;
    padding-top: 10px;
    background-color: white;
    padding-bottom: 120px;
    .line{
      border-bottom: 3px solid #89d2d5;
      width: 150px;
      display: inline-block;
    }
    h3{
      margin-bottom: 0;
    }
    .element{
      .dropdown{
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        display: none;
        z-index: 2;
        position: absolute;
        background-color: #f5f7f8;
        height: 320px;
        width: 90%;
        text-align: center;
        p{
          color: #a9a9a9;
          text-decoration: underline;;
          display: inline-block;
          border-top: 3px solid #FF9B6E;
          padding-top: 30px;
          margin-top: 240px;
          width: 50%;
        }
      }
      a{
      }
      img{
        position: relative;
        padding-top: 20px;
        padding-bottom: 30px;
      }
      h4{
        position: relative;
        text-transform: uppercase;
        color: black;
        padding-bottom: 20px;
      }
      a:hover{
        text-decoration: none;
        img{
          z-index: 5;
          -webkit-filter: hue-rotate(190deg) saturate(3);
        }
        h4{
          z-index: 5;
          color: #FF9B6E;
        }
        .dropdown{
          display: block;
        }
      }
    }
  }
  .about{
    background-color: #f5f7f8;
    color: #596979;
    text-align: center;
    padding-top: 10px;
    .container{
      width: 850px;
    }
    .line{
      border-bottom: 3px solid #f4825d;
      width: 150px;
      display: inline-block;
    }
    h3{
      margin-bottom: 0;
    }
    span{
      display: inline-block;
      text-align: justify;
      font-family: 'Roboto', sans-serif;
      font-size: 14pt;
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
  .training{
    background-color: white;
    color: #596979;
    text-align: center;
    padding-top: 10px;
    .line{
      padding-top: 15px;
      border-bottom: 3px solid #89d2d5;
      width: 150px;
      margin-bottom: 10px;
      display: inline-block;
    }
    h3{
      margin-bottom: 0;
    }
    span{
      display: inline-block;
      text-align: justify;
      font-family: 'Roboto', sans-serif;
      font-size: 16pt;
    }
    .photos{
      float:left;
      width: 49%;
      background-color: #f5f7f8;
      a{
        display: inline-block;
        background-color: #89d2d5;
        color: white;
        padding: 10px;
        margin: 10px;
        padding: 20px 50px;
        font-family: 'PT Sans', sans-serif;
        font-weight: 300;
        font-size: 12pt;
      }
    }
    .videos{
      float: right;
      width: 49%;
      background-color: #f5f7f8;
      img{
        width: 561px;
      }
      a{
        display: inline-block;
        background-color: #f2d90f;
        color: white;
        padding: 10px;
        margin: 10px;
        padding: 20px 50px;
        font-family: 'PT Sans', sans-serif;
        font-weight: 300;
        font-size: 12pt;
      }
    }
  }
  .reviews{
    background-color: white;
    color: #596979;
    text-align: center;
    padding-top: 10px;
    .line{
      border-bottom: 3px solid #89d2d5;
      width: 40%;
      margin-bottom: 10px;
      margin-top: 10px;
      display: inline-block;
    }
    .slider_holder{
      background-color: #f5f7f8;
    }
    .l{
      float: left;
    }
    .r{
      float: right;
    }
    h3{
      margin-bottom: 20px;
    }
    .carousel{
      background-color: #f5f7f8;
      height: 420px;
      .carousel-inner{
        height: 420px;
      }
      .item{
        .carousel-caption{
          left:35%;
          text-align: justify;
          color: #586878;
          right: 10%;
          padding: 0px 0px;
          margin-top: 100px;
          margin-bottom: -60px;
          font-family: 'PT Sans', sans-serif;
          font-size: 12pt;
          text-shadow:none;
          span{
            display: block;
            padding-top: 15px;
            height: 250px;
            display: inline-block;
          }
          p{
            color: #a3dbdd;
            font-size: 14pt;
            padding-top: 20px;
          }
          .name{
            float: left;
          }
          .date{
            float: right;
          }
        }
        img{
          display: block;
          margin-top: 80px;
          margin-left: 120px;
          border: 10px solid #586878;
          height: 250px;
          width: 250px;
          border-radius: 1000px;
        }
      }
      .carousel-control{
        background-image: none;
        img{
          position: absolute;
          top: 50%;
        }
      }
    }
    .button{
      display: inline-block;
      text-decoration: none;
      background-color: #89d2d5;
      color: white;
      margin: 10px;
      padding: 20px 50px;
      font-family: 'PT Sans', sans-serif;
      font-weight: 300;
      font-size: 12pt;
      img{
        float:left;
      }
      span{
        width: 200px;
        display: block;
        padding-top: 5px;
        padding-left: 20px;
      }
    }
  }
  .news{
    margin-top: 30px;
    background-color: white;
    color: #596979;
    text-align: center;
    padding-top: 10px;
    .dropdown{
      height: 422px;
    }
    .dropdown:hover{
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      .label2{
        .date{
          display: inline-block;;
        }
      }
    }
    .line{
      margin-bottom: 15px;
      margin-top: 15px;
      border-bottom: 3px solid #f4825d;
      width: 150px;
      display: inline-block;
    }
    h3{
      margin-bottom: 0;
    }
    .button{
      display: inline-block;
      text-decoration: none;
      background-color: #f4825d;
      color: white;
      padding: 20px 50px;
      font-family: 'PT Sans', sans-serif;
      font-weight: 300;
      font-size: 12pt;
      margin: 10px;
    }
    .row{
      .label{
        text-align: left;
        height: 160px;
        position: absolute;
        background-color: #f4825d;
        z-index: 5;
        left: 0;
        bottom: 0;
        margin-bottom: 0;
        h3{
          margin-left: 40px;
          margin-right: 40px;
          padding-bottom: 10px;
          margin-bottom: 10px;
          display: inline-block;
          border-bottom: 2px solid white;
        }
        span{
          font-size: 14pt;
          display: inherit;
          margin-left: 40px;
          margin-right: 40px;
          padding-bottom: 10px;
          margin-bottom: 10px;
        }
        .date{
          margin-top: 10px;
        }
      }
      .label2{
        text-align: left;

        h3{
          min-height: 1em;
          min-width: 90%;
          margin-left: 20px;
          margin-right: 20px;
          padding-bottom: 10px;
          margin-bottom: 10px;
          display: inline-block;
          border-bottom: 2px solid #5ac3b7;
        }
        span{
          font-size: 14pt;
          display: inherit;
          margin-left: 20px;
          margin-right: 20px;
          padding-bottom: 10px;
          margin-bottom: 10px;
        }
        .date{
          margin-top: 0px;
          margin-bottom: 0px;
          padding-bottom: 5px;
          padding-top: 10px;
          display: none;
        }
      }
      >div{
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px;
      }
      img{
        width: 100%;
      }
    }
  }
}


/* about template
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* contacts template
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* foto and video template
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* news template
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* reviews template
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* services template
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* modal template
–––––––––––––––––––––––––––––––––––––––––––––––––– */
