{% extends 'base.html' %}
{% block title %}
    О нас
{% endblock %}
{% block content %}
    <div class="col-lg-12 prew">
        <img src="{{ STATIC_URL }}images/dog_2_par_100.png">
        <button><span>о нашей школе дрессировки собак</span></button>
    </div>
    <div class="col-lg-12 col-md-12 about_main">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li class="active">О нас</li>
            </ol>
            <div class="col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-2">
                <p class="bolder">
                    Приветствуем Вас в нашей школе дрессировки и развития собак ArtDog! Цель нашей работы – избавить или предотвратить проблемы с воспитанием собаки в короткий срок и с наилучшим результатом. Научить Вас понимать своего питомца и сделать свою жизнь и жизнь своей собаки более насыщенной и комфортной.
                </p>
                <p>
                    Основным принципом работы является индивидуальный подход как к собаке и ее владельцу. Дрессировки строятся на основах лучших мировых и отечественных методиках обучения собак. Чаще всего на занятиях используем бесконфликтный метод дрессировки , то есть работаем на желании собаки, таким образом дрессировщик и собака получают взаимное удовлетворение и радость от совместно проведенного занятия! 
Школа осуществляет подготовку собак по следующим курсам:
                </p>
                <p class="pp">Начальный курс дрессировки </p>
                <p class="pp">Общий курс дресировки (ОКД)</p>
                <p class="pp">Защитный курс дрессировки (ЗКС)</p>
                <p class="pp">Курс воспитательной дрессировки щенка</p>
                <p class="pp">Курс «Управляемая городкая собака» (УГС)</p>
                <p class="pp">Курс «Собака-компаньон» (ВН)</p>
                <p class="pp">Подготовка к сдаче международых нормативов (IPO)</p>
                <p class="pp">Коррекция нежелательного поведения (агрессия, трусость и пр.)</p>
                <p class="pp">Ресоциализация собак из приюта или уличных собак</p>
                <p class="pp">Воспитательный курс дрессировки декоративных пород собак </p>
                <p class="pp">Хендлинг (подготовка собак к выставке)</p>
                <p class="pp">Трюковая дрессировка</p>
            </div>
            <img src="{{ STATIC_URL }}images/about_main_down.png" class="down_img">
            <div class="col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-2">
                <p>
                    По окончанию курса по дисциплинам ОКД и ЗКС экзамены принимаются судьями РКФ с получением диплома РКФ.
                    <br><br>
                    После прохождения курса дрессировки мы гарантируем, что Вы получите управляемую воспитанную собаку, которая приносит хозяину только радость и положительные эмоции. Собака – должна быть лучшим другом, а не источником проблем.
                </p>
            </div>
        </div>
        <div class="our_clients">
            <div class="container">
                <img src="{{ STATIC_URL }}images/about_main_footprint.png" class="c_logo">
                <h3>Некоторые из наших клиентов</h3>
                <div class="col-md-4 col-lg-4">
                    <img src="{{ STATIC_URL }}images/about_main_img1.png">
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="{{ STATIC_URL }}images/about_main_img2.png">
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="{{ STATIC_URL }}images/about_main_img3.png">
                </div>
                <a href="{% url 'photo_albums' %}">
                    больше фотографий
                </a>
            </div>
        </div>
    </div>
{% endblock %}