<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>
        {% block title %}
            Главная
        {% endblock %}
        | ArtDog
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{#    <link rel="shortcut icon" href="{{ STATIC_URL }}images/fav.png" type="image/png">#}
{#    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/fav.png">#}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <header>
			<div class="container">
				<div class="row">
				  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 vertical-align-middle">
						<div class="logo ">
							<a href="{% url 'index' %}">
								<img src="{{ STATIC_URL }}images/logo.png">
							</a>
						</div>
					</div>
				  <div class="col-lg-5 col-md-3 col-sm-4 col-xs-12 vertical-align-middle">
						<div class="row contacts">
							<div class="col-lg-6 col-md-12 col-lg-offset-1 element phone">
								<span>8 (931) 266-40-77</span>
							</div>
							<div class="col-lg-5 col-md-12 element mail">
								<span>info@artdog.ru</span>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-lg-push-2 col-md-push-2 col-sm-3 col-xs-12 vertical-align-middle">
						<div class="places">
								<a href="/places.html">
									<p>Площадки</p>
									<p>для&nbspдрессировки</p>
								</a>
							</div>
					</div>
				  <div class="col-lg-2 col-md-2 col-md-pull-2 col-sm-12 col-xs-12 vertical-align-middle">
						<div class="buttons row">
							<a href="" class="col-md-4 col-sm-4 col-xs-4 button"><img src="{{ STATIC_URL }}images/i_inst.png" alt="instagram" /></a>
							<a href="" class="col-md-4 col-sm-4 col-xs-4 button"><img src="{{ STATIC_URL }}images/i_vk.png" alt="vk" /></a>
							<a href="" class="col-md-4 col-sm-4 col-xs-4 button"><img src="{{ STATIC_URL }}images/i_yout.png" alt="youtube" /></a>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="menu">
		  <div class="container">
		    <ul class="row">
                <li class="col-md-2 col-sm-4">
                    {% url 'services' as url_index %}
                    {% include 'includes/_menu_link.html' with url=url_index title='НАШИ УСЛУГИ'  %}
{#                    <a href="#">НАШИ УСЛУГИ</a>#}
                </li>
                <li class="col-md-2 col-sm-4 col-xs-12">
                    {% url 'contacts' as url_index %}
                    {% include 'includes/_menu_link.html' with url=url_index title='КОНТАКТЫ'  %}
{#                    <a href="#">КОНТАКТЫ</a>#}
                </li>
                <li class="col-md-2 col-sm-4 col-xs-12">
                    {% url 'reviews' as url_index %}
                    {% include 'includes/_menu_link.html' with url=url_index title='ОТЗЫВЫ'  %}
{#                    <a href="#">ОТЗЫВЫ</a>#}
                </li>
                <li class="col-md-2 col-sm-4 col-xs-12">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ФОТО И ВИДЕО</a>
                    <ul class="dropdown-menu">
                        <li class="col-md-12 col-sm-12 col-xs-12 inner"><a href="#">ФОТОГРАФИИ</a></li>
                        <li class="col-md-12 col-sm-12 col-xs-12 inner"><a href="#">ВИДЕО</a></li>
                    </ul>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-12">
                    {% url 'news' as url_index %}
                    {% include 'includes/_menu_link.html' with url=url_index title='НОВОСТИ'  %}
{#                    <a href="#">НОВОСТИ</a>#}
                </li>
                <li class="col-md-2 col-sm-4 col-xs-12">
                    {% url 'about' as url_index %}
                    {% include 'includes/_menu_link.html' with url=url_index title='О НАС'  %}
{#                    <a href="#">О НАС</a>#}
                </li>
		    </ul>
		  </div>
		</div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div class="menu">
            <div class="container">
                <ul class="row">
                    <li class="col-md-2 col-sm-4 col-xs-12">
                        {% url 'services' as url_index %}
                        {% include 'includes/_menu_link.html' with url=url_index title='НАШИ УСЛУГИ'  %}
{#                        <a href="#">НАШИ УСЛУГИ</a>#}
                    </li>
                    <li class="col-md-2 col-sm-4 col-xs-12">
                        {% url 'contacts' as url_index %}
                        {% include 'includes/_menu_link.html' with url=url_index title='КОНТАКТЫ'  %}
{#                        <a href="#">КОНТАКТЫ</a>#}
                    </li>
                    <li class="col-md-2 col-sm-4 col-xs-12">
                        {% url 'reviews' as url_index %}
                        {% include 'includes/_menu_link.html' with url=url_index title='ОТЗЫВЫ'  %}
{#                        <a href="#">ОТЗЫВЫ</a>#}
                    </li>
                    <li class="col-md-2 col-sm-4 col-xs-12">
                        {% url 'photo_and_video' as url_index %}
                        {% include 'includes/_menu_link.html' with url=url_index title='ФОТО И ВИДЕО'  %}
{#                        <a href="#">ФОТО И ВИДЕО</a>#}
                    </li>
                    <li class="col-md-2 col-sm-4 col-xs-12">
                        {% url 'news' as url_index %}
                        {% include 'includes/_menu_link.html' with url=url_index title='НОВОСТИ'  %}
{#                        <a href="#">НОВОСТИ</a>#}
                    </li>
                    <li class="col-md-2 col-sm-4 col-xs-12">
                        {% url 'about' as url_index %}
                        {% include 'includes/_menu_link.html' with url=url_index title='О НАС'  %}
{#                        <a href="#">О НАС</a>#}
                    </li>
                </ul>
            </div>
        </div>
			<div class="container">
				<div class="row">
				  <div class="col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-5 col-xs-12 vertical-align-middle">
						<div class="logo ">
							<a href="{% url 'index' %}">
								<img src="{{ STATIC_URL }}images/logo.png">
							</a>
						</div>
					</div>
				  <div class="col-lg-5 col-md-3 col-sm-4 col-xs-12 vertical-align-middle">
						<div class="row contacts">
							<div class="col-lg-6 col-md-12 col-lg-offset-1 element phone">
								<span>8 (931) 266-40-77</span>
							</div>
							<div class="col-lg-5 col-md-12 element mail">
								<span>info@artdog.ru</span>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2  col-sm-3 col-xs-12 vertical-align-middle">
						<div class="places">
								<a href="/places.html">
									<p>Площадки</p>
									<p>для&nbspдрессировки</p>
								</a>
							</div>
					</div>
				  <div class="col-lg-2 col-lg-offset-5 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 vertical-align-middle">
						<div class="buttons row">
							<a href="" class="col-md-4 col-sm-4 col-xs-4 button"><img src="{{ STATIC_URL }}images/i_inst.png" alt="instagram" /></a>
							<a href="" class="col-md-4 col-sm-4 col-xs-4 button"><img src="{{ STATIC_URL }}images/i_vk.png" alt="vk" /></a>
							<a href="" class="col-md-4 col-sm-4 col-xs-4 button"><img src="{{ STATIC_URL }}images/i_yout.png" alt="youtube" /></a>
						</div>
					</div>
					<a href="">
					<div class="up col-lg-2 col-lg-offset-10 col-md-2 col-md-offset-10 col-sm-4 col-sm-offset-4 col-xs-12">
						<span>НАВЕРХ</span><img src="{{ STATIC_URL }}images/footprint.png"/>
					</div>
					</a>
				</div>
			</div>
			<div class="copyright">
				<span>Все права защищены ©2012-2015. Школа дрессировки собак Artdog.ru</span>
			</div>
		</footer>

    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/_app.js"></script>
</body>
</html>
