{% extends 'base.html' %}
{% block title %}
    Главная
{% endblock %}
{% block content %}
<div class="index">
  <div id="myCarousel" class="carousel slide banner" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">

      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <img src="{{ STATIC_URL }}images/dog_head.png" alt="Chania" width="874" height="513">
          <div class="carousel-caption">
            <div class="inner">
              <img src="{{ STATIC_URL }}images/footprint2.png" alt="" />
              <h3>Групповые занятия<br>каждую субботу</h3>
              <p>-отучение от подбора еды с земли</p>
              <p>-общий курс послушания</p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="{{ STATIC_URL }}images/dog_head.png" alt="Chania" width="874" height="513">
          <div class="carousel-caption">
            <div class="inner">
              <img src="{{ STATIC_URL }}images/footprint2.png" alt="" />
              <h3>Групповые занятия<br>каждую субботу</h3>
              <p>-отучение от подбора еды с земли</p>
              <p>-общий курс послушания</p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="{{ STATIC_URL }}images/dog_head.png" alt="Chania" width="874" height="513">
          <div class="carousel-caption">
            <div class="inner">
              <img src="{{ STATIC_URL }}images/footprint2.png" alt="" />
              <h3>Групповые занятия<br>каждую субботу</h3>
              <p>-отучение от подбора еды с земли</p>
              <p>-общий курс послушания</p>
            </div>
          </div>
        </div>



      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <img src="{{STATIC_URL}}images/arrow_left.png" alt="" />
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <img src="{{STATIC_URL}}images/arrow_right_hover.png" alt="" />
      </a>
    </div>

    <div class="services">
      <div class="container">
        <div class="caption">
          <img src="{{STATIC_URL}}images/uslugi_top.png" alt="" />
          <h3>НАШИ УСЛУГИ</h3>
          <div class="line"></div>
        </div>
        <div class="row">
          <div class="col-md-3 element">
            <a href="#">
              <img src="{{STATIC_URL}}images/uslugi1.png" alt="...">
              <h4>Дрессировка<br>собак</h4>
            </a>
          </div>
          <div class="col-md-3 element">
            <a href="#">
              <img src="{{STATIC_URL}}images/uslugi1.png" alt="...">
              <h4>Дрессировка<br>собак</h4>
            </a>
          </div>
          <div class="col-md-3 element">
            <a href="#">
              <img src="{{STATIC_URL}}images/uslugi1.png" alt="...">
              <h4>Дрессировка<br>собак</h4>
            </a>
          </div>
          <div class="col-md-3 element">
            <a href="#">
              <img src="{{STATIC_URL}}images/uslugi1.png" alt="...">
              <h4>Дрессировка<br>собак</h4>
            </a>
          </div>
          <div class="col-md-3 element">
            <a href="#">
              <img src="{{STATIC_URL}}images/uslugi1.png" alt="...">
              <h4>Дрессировка<br>собак</h4>
            </a>
          </div>
          <div class="col-md-3 element">
            <a href="#">
              <img src="{{STATIC_URL}}images/uslugi1.png" alt="...">
              <h4>Дрессировка<br>собак</h4>
            </a>
          </div>
          <div class="col-md-3 element">
            <a href="#">
              <img src="{{STATIC_URL}}images/uslugi1.png" alt="...">
              <h4>Дрессировка<br>собак</h4>
            </a>
          </div>
          <div class="col-md-3 element">
            <a href="#">
              <img src="{{STATIC_URL}}images/uslugi1.png" alt="...">
              <h4>Дрессировка<br>собак</h4>
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="about">
      <div class="container">
        <div class="caption">
          <img src="{{STATIC_URL}}images/about.png" alt="" />
          <h3>О НАС</h3>
          <div class="line"></div>
        </div>
        <span>Приветствуем Вас в нашей школе дрессировки и развития собак ArtDog! Цель нашей работы – избавить или предотвратить проблемы с воспитанием собаки в короткий срок и с наилучшим результатом. Научить Вас понимать своего питомца и сделать свою жизнь и жизнь своей собаки более насыщенной и комфортной. <br><br>Основным принципом работы является индивидуальный подход как к собаке и ее владельцу. Дрессировки строятся на основах лучших мировых и отечественных методиках обучения собак. Чаще всего на занятиях используем бесконфликтный метод дрессировки , то есть работаем на желании собаки, таким образом дрессировщик и собака получают взаимное удовлетворение и радость от совместно проведенного занятия! </span>

      </div>
    </div>
    <div class="training">
      <div class="container">
        <div class="caption">
          <h3>Тренировки</h3>
          <div class="line"></div>
        </div>
        <div class="photos">
          <div id="myCarousel2" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel2" data-slide-to="1"></li>
              <li data-target="#myCarousel2" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="{{STATIC_URL}}images/trainings_photo.png" alt="Chania">
              </div>

              <div class="item">
                <img src="{{STATIC_URL}}images/trainings_photo.png" alt="Chania">
              </div>

              <div class="item">
                <img src="{{STATIC_URL}}images/trainings_photo.png" alt="Flower">
              </div>
            </div>
          </div>
          <a href="">
            <span>ПЕРЕЙТИ В ФОТОАЛЬБОМ</span>
          </a>
        </div>
        <div class="videos">
          <img src="{{STATIC_URL}}images/trainings_video.png" alt="" />
          <a href="">
            <span>ВСЕ ВИДЕОЗАПИСИ</span>
          </a>
        </div>

      </div>
    </div>
</div>


{% endblock %}
