{% extends 'base.html' %}
{% block title %}
    Главная
{% endblock %}
{% block content %}
<div class="index">
  <div id="myCarousel" class="carousel slide banner" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <img src="{{ STATIC_URL }}images/dog_head.png" alt="Chania" width="874" height="513">
          <div class="carousel-caption">
            <div class="inner">
              <img src="{{ STATIC_URL }}images/footprint2.png" alt="" />
              <h3>Групповые занятия<br>каждую субботу</h3>
              <p>-отучение от подбора еды с земли</p>
              <p>-общий курс послушания</p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="{{ STATIC_URL }}images/dog_head.png" alt="Chania" width="874" height="513">
          <div class="carousel-caption">
            <div class="inner">
              <img src="{{ STATIC_URL }}images/footprint2.png" alt="" />
              <h3>Групповые занятия<br>каждую субботу</h3>
              <p>-отучение от подбора еды с земли</p>
              <p>-общий курс послушания</p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="{{ STATIC_URL }}images/dog_head.png" alt="Chania" width="874" height="513">
          <div class="carousel-caption">
            <div class="inner">
              <img src="{{ STATIC_URL }}images/footprint2.png" alt="" />
              <h3>Групповые занятия<br>каждую субботу</h3>
              <p>-отучение от подбора еды с земли</p>
              <p>-общий курс послушания</p>
            </div>
          </div>
        </div>



      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <img src="{{STATIC_URL}}images/arrow_left.png" alt="" />
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <img src="{{STATIC_URL}}images/arrow_right_hover.png" alt="" />
      </a>
    </div>

    <div class="services">
      <div class="container">
        <div class="caption">
          <img src="{{STATIC_URL}}images/uslugi_top.png" alt="" />
          <h3>НАШИ УСЛУГИ</h3>
          <div class="line"></div>
        </div>
        <div class="row">
          <div class="col-md-3 element">
{#            <a>#}
              <div class="dropdown"><a href="#"><p>подробнее</p></a></div>
              <img src="{{STATIC_URL}}images/i_uslugi_1.png" alt="...">
              <h4>Дрессировка<br>собак</h4>
{#            </a>#}
          </div>
          <div class="col-md-3 element">
{#            <a href="#">#}
              <div class="dropdown"><a href="#"><p>подробнее</p></a></div>
              <img src="{{STATIC_URL}}images/i_uslugi_2.png" alt="...">
              <h4>Дрессировка<br>щенков</h4>
{#            </a>#}
          </div>
          <div class="col-md-3 element">
{#            <a href="#">#}
              <div class="dropdown"><a href="#"><p>подробнее</p></a></div>
              <img src="{{STATIC_URL}}images/i_uslugi_3.png" alt="...">
              <h4>IPO. ОКД. ЗКС</h4>
{#            </a>#}
          </div>
          <div class="col-md-3 element">
{#            <a href="#">#}
              <div class="dropdown"><a href="#"><p>подробнее</p></a></div>
              <img src="{{STATIC_URL}}images/i_uslugi_4.png" alt="...">
              <h4>Коррекция<br>поведения</h4>
{#            </a>#}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 element">
{#            <a href="#">#}
              <div class="dropdown"><a href="#"><p>подробнее</p></a></div>
              <img src="{{STATIC_URL}}images/i_uslugi_5.png" alt="...">
              <h4>охрана<br>семьи</h4>
{#            </a>#}
          </div>
          <div class="col-md-3 element">
{#            <a href="#">#}
              <div class="dropdown"><a href="#"><p>подробнее</p></a></div>
              <img src="{{STATIC_URL}}images/i_uslugi_6.png" alt="...">
              <h4>Групповые<br>занятия</h4>
{#            </a>#}
          </div>
          <div class="col-md-3 element">
{#            <a href="#">#}
              <div class="dropdown"><a href="#"><p>подробнее</p></a></div>
              <img src="{{STATIC_URL}}images/i_uslugi_7.png" alt="...">
              <h4>Стационарная<br>дрессировка</h4>
{#            </a>#}
          </div>
          <div class="col-md-3 element">
{#            <a href="#">#}
              <div class="dropdown"><a href="#"><p>подробнее</p></a></div>
              <img src="{{STATIC_URL}}images/i_uslugi_8.png" alt="...">
              <h4>зоогостинциа</h4>
{#            </a>#}
          </div>
        </div>
      </div>
    </div>


    <div class="about">
      <div class="container">
        <div class="caption">
          <img src="{{STATIC_URL}}images/about.png" alt="" />
          <h3>О НАС</h3>
          <div class="line"></div>
        </div>
        <span>Приветствуем Вас в нашей школе дрессировки и развития собак ArtDog! Цель нашей работы – избавить или предотвратить проблемы с воспитанием собаки в короткий срок и с наилучшим результатом. Научить Вас понимать своего питомца и сделать свою жизнь и жизнь своей собаки более насыщенной и комфортной. <br><br>Основным принципом работы является индивидуальный подход как к собаке и ее владельцу. Дрессировки строятся на основах лучших мировых и отечественных методиках обучения собак. Чаще всего на занятиях используем бесконфликтный метод дрессировки , то есть работаем на желании собаки, таким образом дрессировщик и собака получают взаимное удовлетворение и радость от совместно проведенного занятия! </span>

      </div>
    </div>
    <div class="training">
      <div class="container">
        <div class="caption">
          <h3>наши ТРЕНИРОВКИ</h3>
          <div class="line"></div>
        </div>
        <div class="photos">
          <div id="myCarousel2" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel2" data-slide-to="1"></li>
              <li data-target="#myCarousel2" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="{{STATIC_URL}}images/trainings_photo.png" alt="Chania">
              </div>

              <div class="item">
                <img src="{{STATIC_URL}}images/trainings_photo.png" alt="Chania">
              </div>

              <div class="item">
                <img src="{{STATIC_URL}}images/trainings_photo.png" alt="Flower">
              </div>
            </div>
          </div>
          <a href="{% url 'photo_albums' %}">
            <span>ПЕРЕЙТИ В ФОТОАЛЬБОМ</span>
          </a>
        </div>
        <div class="videos">
          <img src="{{STATIC_URL}}images/trainings_video.png" alt="" />
          <a href="{% url 'video_albums' %}">
            <span>ВСЕ ВИДЕОЗАПИСИ</span>
          </a>
        </div>

      </div>
    </div>
    <div class="news">
      <div class="container">
        <div class="caption">
          <img src="{{STATIC_URL}}images/i_news.png" alt="" />
          <h3>НОВОСТИ</h3>
          <div class="line"></div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <img src="{{STATIC_URL}}images/news_dog_1.png" alt="" />
            <div class="label">
              <h3>НОВЫЕ ВИДЕО НАШЕЙ ШКОЛЫ!</h3>
              <span>Вы можете просмотреть новые видео<br>с резудьтатами наших маленьких учеников</span>
              <span class="date">17.01.2016
                <a href="#"><img src="{{ STATIC_URL }}images/i_r_w.png"></a>
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <img src="{{STATIC_URL}}images/news_dog_2.png" alt="" />
            <div class="label2_w">
              <h3>Новые фотографии в разделе Наши Клиенты!</h3>
              <span>Пополнился наш раздел с фотографиями четвероногих клиентов!</span>
              <span class="date">17.01.2016
                <a href="#"><img src="{{ STATIC_URL }}images/i_r.png"></a>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 dropdown">
              <div class="img">
                <img src="{{STATIC_URL}}images/news_dog_3.png" alt="" />
              </div>
            <div class="label2">
              <h3>НОВЫЕ ФОТОГРАФИИ В РАЗДЕЛЕ НАШИ КЛИЕНТЫ!</h3>
              <span>Пополнился наш раздел с фотографиями</span>
              <span class="date">17.01.2016
                <a href="#"><img src="{{ STATIC_URL }}images/i_r.png"></a>
              </span>
            </div>
          </div>
          <div class="col-md-4 dropdown">
              <div class="img">
                <img src="{{STATIC_URL}}images/news_dog_4.png" alt="" />
              </div>
            <div class="label2">
              <h3>НОВЫЕ ФОТОГРАФИИ В РАЗДЕЛЕ НАШИ КЛИЕНТЫ!</h3>
              <span>Пополнился наш раздел с фотографиями</span>
              <span class="date">17.01.2016
                <a href="#"><img src="{{ STATIC_URL }}images/i_r.png"></a>
              </span>
            </div>
          </div>
          <div class="col-md-4 dropdown">
              <div class="img">
                <img src="{{STATIC_URL}}images/news_dog_5.png" alt="" />
              </div>
            <div class="label2">
              <h3>НОВЫЕ ФОТОГРАФИИ В РАЗДЕЛЕ НАШИ КЛИЕНТЫ!</h3>
              <span>Пополнился наш раздел с фотографиями</span>
              <span class="date">17.01.2016
                <a href="#"><img src="{{ STATIC_URL }}images/i_r.png"></a>
              </span>
            </div>
          </div>

        </div>
        <a href="{% url 'news' %}" class="button">
          <span>ВСЕ НОВОСТИ</span>
        </a>
      </div>
    </div>
    <div class="reviews">
      <div class="container">
        <div class="caption">
          <img src="{{STATIC_URL}}images/reviews.png" alt="" />
          <h3><div class="line l"></div>ОТЗЫВЫ<div class="line r"></div></h3>
        </div>
      </div>
        <div class="slider_holder">
            <div class="container">
        <div id="myCarousel3" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

              <div class="item active">
                <img src="{{ STATIC_URL }}images/reviews_girl.png">
                <div class="carousel-caption">
                  <div class="inner">
                    <span>Все хозяева собак абсолютно правы, давая оценку профессионализма Владимира Алмазова !!! Он одарённый кинолог, любящий всем сердцем своих питомцев, с которыми занимается !!! Моя собака-очень сложный случай, - покупала щенка Кане Корсо, а щеночек оказался помесь Кане Корсо с Питбулем !!! Представляете, какая атомная смесь !!! Мою собаку в 4 месяца покусала взрослая овчарка без намордника с нетрезвым хозяином, как раз в тот период, когда формируется характер щенка !!! Она, взрослея, становилась всё агрессивнее !!! Дрессировке со мной она практически не поддавалась, и я обратилась к Владимиру !!! Это было ЧУДО, когда за одно занятие он научил её сидеть на "выдержке"!!! Приносить всегда мяч !!! Собака боялась высоты, и Владимир научил её ходить по бревну !!!</span>
                    <div>
                      <p class="name">
                        Евгения Ушакова
                      </p>
                      <p class="date">
                        13.03.16
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="item">
                <img src="{{ STATIC_URL }}images/reviews_girl.png">
                <div class="carousel-caption">
                  <div class="inner">
                    <span>Все хозяева собак абсолютно правы, давая оценку профессионализма Владимира Алмазова !!! Он одарённый кинолог, любящий всем сердцем своих питомцев, с которыми занимается !!! Моя собака-очень сложный случай, - покупала щенка Кане Корсо, а щеночек оказался помесь Кане Корсо с Питбулем !!! Представляете, какая атомная смесь !!! Мою собаку в 4 месяца покусала взрослая овчарка без намордника с нетрезвым хозяином, как раз в тот период, когда формируется характер щенка !!! Она, взрослея, становилась всё агрессивнее !!! Дрессировке со мной она практически не поддавалась, и я обратилась к Владимиру !!! Это было ЧУДО, когда за одно занятие он научил её сидеть на "выдержке"!!! Приносить всегда мяч !!! Собака боялась высоты, и Владимир научил её ходить по бревну !!!</span>
                    <div>
                      <p class="name">
                        Евгения Ушакова
                      </p>
                      <p class="date">
                        13.03.16
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="item">
                <img src="{{ STATIC_URL }}images/reviews_girl.png">
                <div class="carousel-caption">
                  <div class="inner">
                    <span>Все хозяева собак абсолютно правы, давая оценку профессионализма Владимира Алмазова !!! Он одарённый кинолог, любящий всем сердцем своих питомцев, с которыми занимается !!! Моя собака-очень сложный случай, - покупала щенка Кане Корсо, а щеночек оказался помесь Кане Корсо с Питбулем !!! Представляете, какая атомная смесь !!! Мою собаку в 4 месяца покусала взрослая овчарка без намордника с нетрезвым хозяином, как раз в тот период, когда формируется характер щенка !!! Она, взрослея, становилась всё агрессивнее !!! Дрессировке со мной она практически не поддавалась, и я обратилась к Владимиру !!! Это было ЧУДО, когда за одно занятие он научил её сидеть на "выдержке"!!! Приносить всегда мяч !!! Собака боялась высоты, и Владимир научил её ходить по бревну !!!</span>
                    <div>
                      <p class="name">
                        Евгения Ушакова
                      </p>
                      <p class="date">
                        13.03.16
                      </p>
                    </div>
                  </div>
                </div>
              </div>



            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel3" role="button" data-slide="prev">
              <img src="{{STATIC_URL}}images/arrow_left.png" alt="" />
            </a>
            <a class="right carousel-control" href="#myCarousel3" role="button" data-slide="next">
              <img src="{{STATIC_URL}}images/arrow_right_hover.png" alt="" />
            </a>
          </div>
        </div>
      </div>
          <div class="container">
        <a href="" class="button" data-toggle="modal" data-target="#review">
          <img src="{{STATIC_URL}}images/i_reviews.png" alt="" /><span>ОСТАВИТЬ ОТЗЫВ</span>
        </a>
      </div>
    </div>

  </div>


{% endblock %}
