{% extends 'base.html' %}
{% block title %}
    Отзывы
{% endblock %}
{% block content %}
    <div class="col-lg-12 prew">
        <img src="{{ STATIC_URL }}images/dog_3_par_100.png">
        <button><span>отзывы</span></button>
    </div>
    <div class="col-lg-12 col-md-12 review_main">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li class="active">Отзывы</li>
            </ol>
            <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 rev">
                <div class="col-lg-3 col-md-3 zag">
                    <div class="icon_rev">
                        <img src="{{ STATIC_URL }}images/rev_icon.png">
                    </div>
                    <p>марина абакумова</p>
                    <span>21.04.12</span>
                </div>
                <div class="col-md-9 col-lg-9 text">
                    Огромное спасибо Владимиру за помощь в воспитании нашего лабро-ребенка! Благодаря Вам мы научились понимать друг друга, общаться и получать обоюдное удовольствие от этого общения! Вы настоящий волшебник, всего за пару занятий, больше похожих на веселую игру, наша совместная жизнь с Джоем полностью изменилась, а ведь был момент, когда мы почти отчаялись, - на прогулках наш пес не обращал на нас внимания, не реагировал на команды, убегал, отвлекался, не прогулки, а сплошная нервотрепка. Благодаря Вам теперь мы знаем, в каком направлении двигаться, чтобы наше сосуществование стало еще более гармоничным и доставляло радость всей нашей семье. Спасибо Вам за нашу послушную и счастливую собаку, большое человеческое и собачье спасибо! Желаем Вам успехов во всех начинаниях, и новых послушных учеников! С уважением - Марина, Александр и Джой.
                </div>
            </div>
            <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 rev">
                <div class="col-lg-3 col-md-3 zag">
                    <div class="icon_rev">
                        <img src="{{ STATIC_URL }}images/rev_icon.png">
                    </div>
                    <p>марина абакумова</p>
                    <span>21.04.12</span>
                </div>
                <div class="col-md-9 col-lg-9 text">
                    Огромное спасибо Владимиру за помощь в воспитании нашего лабро-ребенка! Благодаря Вам мы научились понимать друг друга, общаться и получать обоюдное удовольствие от этого общения! Вы настоящий волшебник, всего за пару занятий, больше похожих на веселую игру, наша совместная жизнь с Джоем полностью изменилась, а ведь был момент, когда мы почти отчаялись, - на прогулках наш пес не обращал на нас внимания, не реагировал на команды, убегал, отвлекался, не прогулки, а сплошная нервотрепка. Благодаря Вам теперь мы знаем, в каком направлении двигаться, чтобы наше сосуществование стало еще более гармоничным и доставляло радость всей нашей семье. Спасибо Вам за нашу послушную и счастливую собаку, большое человеческое и собачье спасибо! Желаем Вам успехов во всех начинаниях, и новых послушных учеников! С уважением - Марина, Александр и Джой.
                </div>
            </div>
            <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 rev">
                <div class="col-lg-3 col-md-3 zag">
                    <div class="icon_rev">
                        <img src="{{ STATIC_URL }}images/rev_icon.png">
                    </div>
                    <p>марина абакумова</p>
                    <span>21.04.12</span>
                </div>
                <div class="col-md-9 col-lg-9 text">
                    Огромное спасибо Владимиру за помощь в воспитании нашего лабро-ребенка! Благодаря Вам мы научились понимать друг друга, общаться и получать обоюдное удовольствие от этого общения! Вы настоящий волшебник, всего за пару занятий, больше похожих на веселую игру, наша совместная жизнь с Джоем полностью изменилась, а ведь был момент, когда мы почти отчаялись, - на прогулках наш пес не обращал на нас внимания, не реагировал на команды, убегал, отвлекался, не прогулки, а сплошная нервотрепка. Благодаря Вам теперь мы знаем, в каком направлении двигаться, чтобы наше сосуществование стало еще более гармоничным и доставляло радость всей нашей семье. Спасибо Вам за нашу послушную и счастливую собаку, большое человеческое и собачье спасибо! Желаем Вам успехов во всех начинаниях, и новых послушных учеников! С уважением - Марина, Александр и Джой.
                </div>
            </div>
            <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 rev">
                <div class="col-lg-3 col-md-3 zag">
                    <div class="icon_rev">
                        <img src="{{ STATIC_URL }}images/rev_icon.png">
                    </div>
                    <p>марина абакумова</p>
                    <span>21.04.12</span>
                </div>
                <div class="col-md-9 col-lg-9 text">
                    Огромное спасибо Владимиру за помощь в воспитании нашего лабро-ребенка! Благодаря Вам мы научились понимать друг друга, общаться и получать обоюдное удовольствие от этого общения! Вы настоящий волшебник, всего за пару занятий, больше похожих на веселую игру, наша совместная жизнь с Джоем полностью изменилась, а ведь был момент, когда мы почти отчаялись, - на прогулках наш пес не обращал на нас внимания, не реагировал на команды, убегал, отвлекался, не прогулки, а сплошная нервотрепка. Благодаря Вам теперь мы знаем, в каком направлении двигаться, чтобы наше сосуществование стало еще более гармоничным и доставляло радость всей нашей семье. Спасибо Вам за нашу послушную и счастливую собаку, большое человеческое и собачье спасибо! Желаем Вам успехов во всех начинаниях, и новых послушных учеников! С уважением - Марина, Александр и Джой.
                </div>
            </div>
            <nav>
                <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true"><img src="{{ STATIC_URL }}images/paginator_l.png"></span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true"><img src="{{ STATIC_URL }}images/paginator_r.png"></span>
                  </a>
                </li>
                </ul>
            </nav>
            <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 ot">
                <img src="{{ STATIC_URL }}images/gipo.png" class="gipo">
                <img src="{{ STATIC_URL }}images/review_cut.png">
                <h3>оставьте отзыв</h3>
                <p>Пожалуйста поделитесь с нами своими впечатлениями от дрессировок, чтобы мы могли становиться еще лучше для Вас.</p>
                <a data-toggle="modal" data-target="#review">написать</a>
            </div>
        </div>
    </div>
{% endblock %}