{% extends 'base.html' %}
{% block title %}
    Наши услуги
{% endblock %}
{% block content %}
    <div class="col-lg-12 col-md-12 prew">
        <img src="{{ STATIC_URL }}images/dog_3_par_100.png">
        <button><span>Наши услуги</span></button>
    </div>
    <div class="col-lg-12 col-md-12 service_main">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li class="active">Наши услуги</li>
            </ol>
        </div>
        <div class="services">
          <div class="container">
            <div class="caption">
              <img src="{{STATIC_URL}}images/uslugi_top.png" alt="" />
              <h3>НАШИ УСЛУГИ</h3>
              <div class="line"></div>
            </div>
            <div class="row">
              <div class="col-md-3 element">
    {#            <a>#}
                  <div class="dropdown"><a href="{% url 'dress_dog' %}"><p>подробнее</p></a></div>
                  <img src="{{STATIC_URL}}images/i_uslugi_1.png" alt="...">
                  <h4>Дрессировка<br>собак</h4>
    {#            </a>#}
              </div>
              <div class="col-md-3 element">
    {#            <a href="#">#}
                  <div class="dropdown"><a href="#"><p>подробнее</p></a></div>
                  <img src="{{STATIC_URL}}images/i_uslugi_2.png" alt="...">
                  <h4>Дрессировка<br>щенков</h4>
    {#            </a>#}
              </div>
              <div class="col-md-3 element">
    {#            <a href="#">#}
                  <div class="dropdown"><a href="#"><p>подробнее</p></a></div>
                  <img src="{{STATIC_URL}}images/i_uslugi_3.png" alt="...">
                  <h4>IPO. ОКД. ЗКС</h4>
    {#            </a>#}
              </div>
              <div class="col-md-3 element">
    {#            <a href="#">#}
                  <div class="dropdown"><a href="#"><p>подробнее</p></a></div>
                  <img src="{{STATIC_URL}}images/i_uslugi_4.png" alt="...">
                  <h4>Коррекция<br>поведения</h4>
    {#            </a>#}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 element">
    {#            <a href="#">#}
                  <div class="dropdown"><a href="#"><p>подробнее</p></a></div>
                  <img src="{{STATIC_URL}}images/i_uslugi_5.png" alt="...">
                  <h4>охрана<br>семьи</h4>
    {#            </a>#}
              </div>
              <div class="col-md-3 element">
    {#            <a href="#">#}
                  <div class="dropdown"><a href="#"><p>подробнее</p></a></div>
                  <img src="{{STATIC_URL}}images/i_uslugi_6.png" alt="...">
                  <h4>Групповые<br>занятия</h4>
    {#            </a>#}
              </div>
              <div class="col-md-3 element">
    {#            <a href="#">#}
                  <div class="dropdown"><a href="#"><p>подробнее</p></a></div>
                  <img src="{{STATIC_URL}}images/i_uslugi_7.png" alt="...">
                  <h4>Стационарная<br>дрессировка</h4>
    {#            </a>#}
              </div>
              <div class="col-md-3 element">
    {#            <a href="#">#}
                  <div class="dropdown"><a href="#"><p>подробнее</p></a></div>
                  <img src="{{STATIC_URL}}images/i_uslugi_8.png" alt="...">
                  <h4>зоогостинциа</h4>
    {#            </a>#}
              </div>
            </div>
          </div>
        </div>
        <div class="our_clients">
            <div class="container">
                <img src="{{ STATIC_URL }}images/about_main_footprint.png" class="c_logo">
                <h3>Некоторые из наших клиентов</h3>
                <div class="col-md-4 col-lg-4">
                    <img src="{{ STATIC_URL }}images/about_main_img1.png">
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="{{ STATIC_URL }}images/about_main_img2.png">
                </div>
                <div class="col-md-4 col-lg-4">
                    <img src="{{ STATIC_URL }}images/about_main_img3.png">
                </div>
                <a href="{% url 'photo_albums' %}">
                    больше фотографий
                </a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bones_dog">
            <img src="{{ STATIC_URL }}images/bones_dog.png">
        </div>
    </div>
{% endblock %}